@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: $font-family-for-all-platforms !important;
}

#app {
  width: 420px;
  padding-top: 10px;
}